<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Selenium_Docker_Test_Suite" verbose ="1"  thread-count ="3" parallel ="tests">
</test>
   <test name = "SeleniumDockerChromeTest">
   <parameter name ="browser"  value ="chrome"/>
      <classes>
         <class name = "com.seleniumdockertest.SeleniumDockerTest" />
      </classes>
   </test>
   <test name = "SeleniumDockerFFTest">
   <parameter name ="browser"  value ="firefox"/>
      <classes>
         <class name = "com.seleniumdockertest.SeleniumDockerTest" />
      </classes>
   </test>
  
</suite>